@import '~styles/mixins';
@import '~styles/media-queries';

.header {
  padding-top: rem(46px);

  &__container {
    max-width: rem(1400px);
    margin: 0 auto;
    background-color: #101010;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(72px);
    border-radius: rem(16px);
    position: relative;
  }

  &__logo {
    padding-left: rem(16px);

    svg {
      font-size: rem(48px);
    }
  }

  &__menu {
    color: #a0a0a0;
    padding: rem(18px 38px);
    display: flex;
    white-space: nowrap;
    cursor: pointer;
    font-size: rem(18px);
    align-items: center;
    height: 100%;

    svg {
      fill: #fff;
      margin-right: rem(10px);
      font-size: rem(18px);
    }
  }

  &__search {
    width: 100%;
    position: relative;
    margin: rem(0 20px);

    input {
      width: 100%;
      height: rem(48px);
      border-width: 0;
      outline: 0;
      background: #262626;
      border-radius: rem(8px);
      white-space: nowrap;
      color: #fff;
      font-size: rem(18px);
      padding-left: rem(20px);

      &::placeholder {
        color: #626a71;
        font-size: rem(16px);
      }
    }

    button {
      position: absolute;
      right: rem(5px);
      top: 50%;
      transform: translate(0, -50%);
      background: #101010;
      border-radius: rem(8px);
      border-width: 0;
      outline: 0;
      width: rem(40px);
      height: rem(40px);
      cursor: pointer;
    }

    svg {
      fill: #a0a0a0;
      font-size: rem(18px);
    }
  }

  &__main-menu {
    display: flex;
    align-items: center;

    > div {
      margin-left: rem(16px);
      transition: all 0.3s;

      a,
      button,
      .locale-language {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(12px);
        cursor: pointer;
        border: none;
      }

      &:hover {
        background-color: #333;
        border-radius: rem(8px);

        svg {
          fill: #fff;
        }
      }
    }

    .header__languages:hover {
      border-radius: rem(8px 8px 0 0);
    }

    svg {
      font-size: rem(24px);
      fill: #a0a0a0;
    }
  }

  &__favorites {
    margin-left: rem(38px);
  }

  &__languages,
  &__user > button {
    background-color: #333333;
    border-radius: rem(8px);
    transition: all 0.3s;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__languages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 10;
    transition: all 0.3s;

    a,
    .locale-language {
      display: flex;
      color: #a0a0a0;
    }

    h6 {
      margin-left: rem(8px);
    }

    &:hover {
      a,
      .locale-language {
        color: #fff;
      }

      svg {
        fill: #fff;
      }

      .lang-overlay {
        display: flex;
      }
    }
  }

  &__languages-overlay {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: #262626;
    border-radius: rem(0 0 8px 8px);
    width: 100%;
    text-align: center;
    color: #a0a0a0;
    cursor: pointer;

    h6 {
      transition: all 0.3s;
    }

    h6:hover {
      color: #fff;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin-right: rem(16px);

    span {
      margin-left: rem(8px);
      color: #a0a0a0;
      white-space: nowrap;
    }

    &:hover {
      span {
        color: #fff;
      }
    }
  }
}

.profile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(16px);
  z-index: 100;

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(100px 150px);
    background-color: #262626;
    border-radius: rem(20px);

    label,
    input {
      display: block;
    }

    label {
      margin-bottom: rem(8px);
      font-size: rem(20px);
      color: #fff;
      text-decoration: underline;
    }

    input {
      margin-bottom: rem(16px);
      width: rem(300px);
      height: rem(30px);
      font-size: rem(20px);
      border-radius: rem(8px);
      padding-left: rem(2px);
      outline: none;
      background-color: #a0a0a0;
      color: #fff;
    }
  }
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #a0a0a0;
  border: none;
  width: rem(40px);
  height: rem(40px);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

.registration {
  display: flex;
  justify-content: space-between;
}

.logged-in {
  span {
    color: #ff9800;
    font-weight: 800;
  }

  svg {
    fill: #ff9800;
  }
}

.errors {
  font-size: rem(20px);
  font-weight: 800;
  color: #f44336;
  margin-top: rem(16px);
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  color: #fff;
  font-size: rem(20px);
  width: 100%;
  overflow: hidden;
  border: none;
  border-radius: rem(0 0 16px 16px);

  &__categories {
    background-color: #101010;
    display: flex;
    flex-direction: column;
    width: rem(360px);
  }

  &__category {
    padding: rem(18px 20px);

    &:hover {
      background: rgb(38, 38, 38);
      color: #fff;
    }
  }

  &__quicklinks {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(16px);
  }
}

.header__menu:hover .menu {
  transition: all 0.3s;
  display: flex;
}

.display-none {
  display: none;
}
