@import '~styles/mixins';
@import '~styles/media-queries';

.device-product {
  max-width: rem(1400px);
  margin: rem(16px auto 0);
  color: #a0a0a0;

  &__name {
    h3 {
      color: #a0a0a0;
    }
  }

  &__info {
    margin-top: rem(16px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: rem(16px);
    justify-items: center;
    align-items: center;
    font-size: rem(20px);
  }

  &__info-image {
    grid-column-start: 1;
    grid-column-end: 3;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      cursor: pointer;
      transform: scale(0.9);
      transition: all 0.5s ease-out;

      &:hover {
        transform: scale(1);
      }
    }
  }

  &__options-colors-wrapper {
    display: flex;
    align-items: center;
    margin: rem(8px 0);
  }

  .device-color {
    width: rem(32px);
    height: rem(32px);
    border-radius: rem(18px);
    margin-right: rem(10px);

    &.is-active {
      border: rem(4px) solid #fff;
      width: rem(37px);
      height: rem(37px);
    }
  }

  &__options-memory-wrapper {
    display: flex;
  }

  &__options-memory-wrapper {
    > a {
      &:hover {
        color: #fff;
      }
    }
  }

  .memory-option {
    margin-right: rem(10px);
    padding: 5px 8px;
    border-radius: 16px;
    width: 88px;
    font-weight: 400;
    text-align: center;
    margin-right: 8px;
    background: #dedede;
    margin-bottom: 8px;

    &.is-selected {
      background-color: #1c71b9;
      color: #fff;
    }
  }

  &__info-buy {
    background-color: #101010;
    padding: rem(16px 20% 16px 16px);
    border-radius: rem(8px);
    color: #fff;
    width: 100%;
    font-size: rem(32px);

    > div,
    a {
      display: table;
      width: 100%;
      text-align: center;
      transition: all 0.3s;
      margin-top: rem(8px);
      border-radius: rem(8px);
      padding: rem(5px 0);
    }

    > a:hover {
      color: #fff;
    }
  }

  &__info-price {
    background-color: #8c57a7;
  }

  &__buy {
    display: table;
    background-color: #fbac2a;

    &:hover {
      box-shadow: 0 0 8px 4px #fbac2a80;
    }
  }

  &__info-credit {
    background-color: #58e600;
  }

  &__credit {
    color: #1c71b9;
    border: rem(1px) solid #1c71b9;

    &:hover {
      background-color: #1c71b9;
      box-shadow: 0 0 8px 4px #1c71b9;
    }
  }

  &__info-cashback {
    background-color: #d7298f;
  }
}
