@import '~styles/mixins';
@import '~styles/media-queries';

.device-product {
  max-width: rem(1400px);
  margin: rem(16px auto 0);

  &__name {
    h3 {
      color: #a0a0a0;
    }
  }

  &__info {
    margin-top: rem(16px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: rem(16px);
    justify-items: center;
    align-items: center;
  }

  &__info-image {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      cursor: pointer;
      transform: scale(0.9);
      transition: all 0.5s ease-out;

      &:hover {
        transform: scale(1);
      }
    }
  }
}
