@import '~styles/mixins';
@import '~styles/media-queries';

.tags {
  max-width: rem(1400px);
  margin: 0 auto;
  border-radius: rem(16px);
  margin-top: rem(16px);

  a {
    color: #707070;
    padding: 8px 16px;
    background: #101010;
    border-radius: 16px;
    display: inline-block;
    line-height: 1;
    margin: 4px;
    white-space: nowrap;
    transition: all 0.3s;

    &:hover {
      color: #fff;
      box-shadow: 0 12px 8px -8px #00000080;
    }
  }
}
