@import '~styles/mixins';
@import '~styles/media-queries';

.tags {
  max-width: rem(1400px);
  margin: 0 auto;
  border-radius: rem(16px);
  margin-top: rem(16px);

  a {
    color: #707070;
    padding: rem(8px 16px);
    background: #101010;
    border-radius: rem(16px);
    display: inline-block;
    line-height: 1;
    margin: rem(4px);
    white-space: nowrap;
    transition: all 0.3s ease-in;

    &:hover {
      color: #fff;
      box-shadow: rem(0 12px 8px -8px) #00000080;
    }
  }
}
