@import '~styles/mixins';
@import '~styles/media-queries';

.service-section {
  max-width: rem(1400px);
  margin: rem(16px) auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: rem(16px);
}

.service {
  width: 100%;
  background-color: #101010;
  border-radius: rem(16px);
  padding: rem(24px 40px);
  transition: all 0.3s;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #939393;
    transition: all 0.3s;

    &:hover {
      color: #5cba48;
    }
  }

  &:hover {
    box-shadow: rem(0 12px 8px -8px) #00000080;

    svg {
      fill: #5cba48;
    }
  }

  svg {
    font-size: rem(30px);
    fill: #939393;
  }
}

.serv {
  max-width: rem(380px);

  h3 {
    margin-bottom: rem(8px);
  }

  span {
    font-size: rem(20px);
  }
}
