@import '~styles/mixins';
@import '~styles/media-queries';

.button {
  width: rem(120px);
  height: rem(35px);
  background: #f9f9f9;
  border-radius: rem(30px);
  cursor: pointer;
  transition: 0.3s all;
  outline: none;
  border: none;
  &:hover {
    background: darken(#f9f9f9, 10%);
  }
}

.button-type-black {
  background-color: #101010;
  color: #fff;

  &:hover {
    background-color: lighten(#101010, 20%);
  }
}

.button-type-full-width {
  width: 100%;
  height: auto;
  min-height: rem(30px);
}

.button-type-small {
  width: rem(100px);
  height: rem(30px);
}
