@import '~styles/mixins';
@import '~styles/media-queries';

.promotions {
  max-width: rem(1400px);
  margin: 0 auto;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: rem(16px);
    margin-bottom: rem(16px);
  }

  &__bg {
    width: 100%;
    height: rem(252px);
    background-size: cover;
    border-radius: rem(16px);
  }
}